* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  :root {
    --body-color: #fff;
    --container-color: #eee;
    --container-color-alt: #ddd;
    --border-color-light: #cfcccc;
    --scroll-color: #888091;
    --dropdown-shadow: #b6a2a2;
    --text-color: #000;
    --placeholder-color: #666;
    --header-shadow: #f3e7f3;
    /*========== Colors ==========*/
    --hue: 45;
    --sat: 98%;
    --first-color: hsl(var(--hue), var(--sat), 60%);
    --first-color-light: hsl(var(--hue), var(--sat), 85%);
    --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
    --first-color-alt: hsl(var(--hue), var(--sat), 53%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 65%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue), 4%, 85%);
    --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  }
  body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .5s;
}
  /*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);
  --background: hsl(var(--hue), 8%, 13%);
  --light-bg:hsl(var(--hue), 1%, 60%);
}
/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
  a {
    text-decoration: none;
    color: #5a5a5a;
  }
  img {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  
  /* header */
  body {
    height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 100%;
    background: var(--scroll-color);
    border-radius: 10px;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    z-index: 100;
    display: flex;
    align-items: center;
    background: var(--body-color);
    justify-content: space-between;
    height: 5rem;
    box-shadow: 5px 0 10px 10px var(--header-shadow);
    padding: 0 2rem;
    color: var(--text-color);
  }
  
  /* .logo {
    font-size: 2rem;
  } */
  
  .nav-left {
    display: flex;
    flex-direction: row;
    z-index: 111111;
  }
  
  .nav-left img {
    width: 25px;
    margin-right: 25px;
  }
  
  .nav-left .logo {
    width: 35px;
  }
  
  .search__bar {
    border-radius: 8px;
    border: 1px solid var(--border-color-light);
    display: flex;
    width: 300px;
    height: 40px;
  }
  
  .search__icon {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search__input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: transparent;
    color: var(--text-color);
  }
  .search__input::placeholder {
    color: var(--placeholder-color);
  }
  .header__btn {
    margin: 0 8px;
    width: 40px;
    height: 40px;
    border: none;
    background: inherit;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .dropdown {
    position: relative;
  }
  .dropdown__content {
    border-radius: 12px;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 100%;
    background-color: var(--container-color);
    box-shadow: 10px 10px 30px 0px var(--dropdown-shadow);
    padding: 8px 0;
    right: 20%;
    z-index: 100;
    display: none;
  }
  .profile__dropdown {
    height: max-content;
  }
  .dropdown__data {
    height: 88%;
    width: 100%;
    overflow-x: hidden;
  }
  .dropdown__data div {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color-light);
  }
  .drop__down-title {
    padding: 5px 1rem;
    font-weight: 600;
  }
  
  .dropdown__content a {
    display: block;
    padding: 10px 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
  }
  
  .dropdown__content a:hover {
    background: var(--container-color-alt);
  }
  
  .dropdown__content a i {
    font-size: 1.4rem;
  }
  
  .dropdown__content a b {
    font-weight: 500;
  }
  
  .change__theme-btn {
    background: inherit;
    border: none;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
  }
  
  @media screen and (max-width: 550px) {
    .search__bar {
      width: 200px;
    }
    .notifictaions__dropdown {
      transform: translate(25%, 0);
    }
    .dropdown__content {
      width: 250px;
      height: 300px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .search__bar {
      display: none;
    }
  }
  
  @media screen and (max-width: 300px) {
    .search__bar {
      display: none;
    }
  
    .notifictaions__dropdown {
      transform: translate(30%, 0);
    }
    .profile__dropdown {
      transform: translate(15%, 0);
    }
  }
  
  /* Side Bar */
  .sidebar {
    background-color: var(--container-color);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
  }
  
  .shortcut-links a img {
    width: 30px;
    margin-right: 20px;
  }
  
  .shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: var(--text-color);
  }
  
  .shortcut-links a:first-child {
    color: #ed3833;
  }
  
  .sidebar hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
    transition: all 0.3s ease-in-out;
  }
  
  .small-sidebar {
    width: 5%;
  }
  
  .small-sidebar a p {
    display: none;
  }
  
  .small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
  }
  
  /* Main */
  .container {
    background: var(--body-color);
    padding: 20px 2% 20px 17%;
    transition: all 0.3s ease;
  }
  .large-container {
    padding-left: 7%;
  }
  .banner {
    width: 100%;
  }
  .banner img {
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s linear;
  }
  
  .banner img:hover {
    opacity: 0.5;
  }
  
  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 20px;
  }
  .vid-list .thumbnail {
    width: 100%;
    border-radius: 5px;
  }
  .vid-list .flex-dev {
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
  }
  .vid-list .flex-dev img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .vid-info {
    color: #5a5a5a;
    font-size: 13px;
  }
  .vid-info a {
    color: var(--text-color);
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
  }
  
  @media (max-width: 900px) {
    .logo {
      display: none;
    }
    .menu {
      margin-left: -30%;
    }
    .sidebar {
      display: none;
    }
    .appare {
      display: block;
      background: #fff;
      width: 12%;
      height: 100vh;
      position: fixed;
      top: 0;
      padding-left: 2.5%;
      padding-top: 80px;
      z-index: 9;
      box-shadow: 0 0 10px rgba(0 0 0 / 0.2);
      background-color: var(--container-color);
    }
    .container,
    .large-container {
      padding-left: 5%;
      padding-right: 5%;
    }
    .nav-right img,
    .nav-right .profile span {
      display: none;
    }
    .nav-right .profile #user {
      display: block;
      width: 30px;
    }
    .nav-middle .search-box input {
      width: 200px;
    }
    .banner img:hover {
      opacity: 1;
    }
  
    .flex-form {
      display: flex;
      flex-direction: column;
    }
    .flex-form form {
      margin-left: 25%;
      margin-top: 10%;
    }
    .flex-form input {
      width: 80%;
    }
    .flex-form .btn {
      width: 80%;
      text-align: center;
    }
  }

/* Join By Code */
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: none;
  }