:root {
  --body-color: #fff;
  --container-color: #eee;
  --container-color-alt: #ddd;
  --border-color-light: #cfcccc;
  --scroll-color: #888091;
  --dropdown-shadow: #b6a2a2;
  --text-color: #000;
  --placeholder-color: #666;
  --header-shadow: #f3e7f3;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .5s;
}
/*========== Variables Dark theme ==========*/
body.dark-theme {
--first-color-light: hsl(var(--hue), var(--sat), 75%);
--title-color: hsl(var(--hue), 4%, 95%);
--text-color: hsl(var(--hue), 4%, 80%);
--body-color: hsl(var(--hue), 8%, 13%);
--container-color: hsl(var(--hue), 8%, 16%);
--scroll-bar-color: hsl(var(--hue), 4%, 32%);
--scroll-thumb-color: hsl(var(--hue), 4%, 24%);
--background: hsl(var(--hue), 8%, 13%);
--light-bg:hsl(var(--hue), 1%, 60%);
}
/*========== Button Dark/Light ==========*/
.change-theme {
color: var(--title-color);
font-size: 1.8rem;
cursor: pointer;
border: none;
background-color: transparent;
}

.shortcut-links a:first-child,
.shortcut-links a:nth-child(2),
.shortcut-links a:nth-child(3),
.shortcut-links a:nth-child(4),
.shortcut-links a:nth-child(5) {
  color: var(--text-color);
}
.shortcut-links a:nth-child(6) {
  color: #ed3833;
}

/* Main */
.container {
  width: 100%;
  padding-bottom: 8.3%;
  padding-top: 14.4%;
}
.container2 {
  margin-left: 10%;
  margin-top: 0%;
  padding: 20px 60px 30px 40px;
  width: 84%;
  height: 40%;
  background-color: var(--container-color);
  text-align: center;
  box-shadow: 2px 8px 13px rgba(0,0,0,0.15);

}
.container3 {
  margin-left: 10%;
  margin-top: 0%;
  padding: 20px 60px 30px 40px;
  width: 84%;
  height: 130%;
  background-color: var(--container-color);
  box-shadow: 2px 8px 13px rgba(0,0,0,0.15);
}
.button1 {
  position: relative;
  right: 1%;
  background-color: #187401;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  border: none;
  font-weight: bold;
}
.button2 {
  position: relative;
  right: 1%;
  background-color: #165399;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  border: none;
  font-weight: bold;
}
.lable1 p {
  position: relative;
  top: 1%;
  right: 1%;
  color: var(--placeholder-color);
}
h2,
h3 {
  color: var(--text-color);
}
.container3 p {
  color: var(--placeholder-color);
}
