:root {
  --main-color: #f54b55;
  --second-color: #efeff0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
  /* width: 5%; */
}

#lang {
  margin-right: 5px;
}

span {
  text-decoration: none;
  color: #5a5a5a;
}

.container {
  background: #fff;
  height: 100vh;
  width: 100%;
}

.card img {
  transition: all 0.3s ease;
}

.card:hover img {
  opacity: 0.7;
}

.card-body {
  text-align: center;
}

.card-title {
  text-transform: uppercase;
}

.card-text {
  color: #5a5a5a;
}

.btn {
  width: 100%;
}

.card-body .lecBtn {
  background: #b35aae;
  width: 100%;
  color: #fff;
}

.card-body .lecBtn:hover {
  background: #a752a1;
  color: #fff;
}
