:root {
  --main-color: #f54b55;
  --second-color: #efeff0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
  /* width: 5%; */
}

#lang {
  margin-right: 5px;
}

span {
  text-decoration: none;
  color: #5a5a5a;
}

.container {
  background: #fff;
  height: 100vh;
  width: 100%;
}

.card img {
  transition: all 0.3s ease;
}

.card:hover img {
  opacity: 0.7;
}

.card-body {
  text-align: center;
}

.card-title {
  text-transform: uppercase;
}

.card-text {
  color: #5a5a5a;
}

.btn {
  width: 100%;
}

.card-body .lecBtn {
  background: #b35aae;
  width: 70%;
  color: #fff;
}

.card-body .lecBtn:hover {
  background: #a752a1;
  color: #fff;
}

.card-body .lecBtn2 {
  border: 1px solid #b35aae;
  width: 25%;
  color: #b35aae;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.card-body .lecBtn2:hover {
  background: #b35aae;
  color: #fff;
}

.card-body .stdBtn {
  width: 70%;
}

.card-body .stdBtn2 {
  width: 25%;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .logo {
    display: block;
  }
  .nav-right .profile {
    display: block;
    margin-right: 200px;
    width: 100%;
  }
}

/* header */
.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.2);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 50px;
}

.nav-left {
  display: flex;
  flex-direction: row;
}

.nav-left img {
  width: 25px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 35px;
}

.nav-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-middle img {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right {
  display: flex;
  flex-direction: row;
}

.nav-right .profile a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-right .profile #user {
  margin-right: 10px;
}
.nav-right .profile span {
  font-size: 15px;
  text-transform: uppercase;
}
.nav-right .profile #arrow-down {
  width: 17.5px;
  padding-left: 5px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}
